@model WebApplication1.ViewModels.RegisterViewModel
<h1>Регистрация нового пользователя</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-controller="Auth" asp-action="Register">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Name"></label><br />
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year"></label><br />
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label><br />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirm"></label><br />
                <input asp-for="PasswordConfirm" class="form-control" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
    </div>
</div>